@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5% !important;
  overflow-x: hidden;
  scroll-behavior: smooth;
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1;
  overflow-x: hidden;
  scroll-behavior: smooth;
  height: 100%;
}

body::-webkit-scrollbar {
  width: 0;
}

img {
  border-style: none;
}

button,
input,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

a:visited,
a:active,
a:link {
  color: var(--white);
}

/* COLORS */
:root {
  --primary-color: #;
  --secondary-color: #;
  --blue: #;
  --bg-light: #;
  --white: #fff;
  --black: #000;
  --error-color: #;
}
